.checkbox-container {
    display: inline-block;
    position: relative;
  
    .hidden-checkbox {
      display: none;
    }
  
    label {
      cursor: pointer;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      display: inline-block;
    }
  }
  